@import "./font-faces";

.icon{
  padding: 13px 0px;
  margin-right: 11px;
  justify-content: center;
  float: right;
}

.button-content{
  display: inline-block;
  margin: 9px 0px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 100;
}
