@import "../../styles/font-faces";
@import "../../styles/buttonContent";

.display-buttons{
  position: absolute;
  right: 22px;
}
 
.sort-button{
  width: 142px;
  height: 42px;
  color: WHITE;
  background-color: $primary-blue;
  text-align: center;
  margin-right: 13px;
  border: none;
}

#arrow-icon{
  padding-top: 14px;
}
#button-content{
  width: 142px;
  height: 42px;
  color: WHITE;
  background-color: $primary-blue;
  text-align: center;
  margin-right: 13px;
  border: none;
  font-family: $font-family;
  font-weight: 100;
  position: absolute;
  right: 150px;
  border-radius: 0px;
}

#button-content:focus{
  display: none;
}
.sort-button:focus{
  display: none;
}