@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-Bold.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-Bold.woff") format("woff"), url("../assets/font/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-Regular.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-Regular.woff") format("woff"), url("../assets/font/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-RegularItalic.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-RegularItalic.woff") format("woff"), url("../assets/font/BrandonGrotesque-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-Black.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-Black.woff") format("woff"), url("../assets/font/BrandonGrotesque-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-Medium.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-Medium.woff") format("woff"), url("../assets/font/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-Bold.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-Bold.woff") format("woff"), url("../assets/font/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-Regular.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-Regular.woff") format("woff"), url("../assets/font/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-RegularItalic.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-RegularItalic.woff") format("woff"), url("../assets/font/BrandonGrotesque-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-Black.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-Black.woff") format("woff"), url("../assets/font/BrandonGrotesque-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url("../assets/font/BrandonGrotesque-Medium.woff2") format("woff2"), url("../assets/font/BrandonGrotesque-Medium.woff") format("woff"), url("../assets/font/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.icon {
  padding: 10px 0px;
  margin-right: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
}

.button-content {
  display: inline-block;
  margin: 9px 0px;
  font-family: "Brandon Grotesque", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.display-buttons {
  position: absolute;
  right: 30px;
}

.filter-button {
  width: 142px;
  height: 42px;
  color: WHITE;
  background-color: #215184;
  text-align: center;
  margin-right: 8px;
}

.sort-button {
  width: 142px;
  height: 42px;
  color: WHITE;
  background-color: #215184;
  text-align: center;
  margin-right: 13px;
}

#arrow-icon {
  padding-top: 14px;
}
/*# sourceMappingURL=DisplayButtons.css.map */