@import "../../styles/font-faces";
@import "../../styles/buttonContent";


.logo{

  width: 177px;
  height: 23px;
  float: left;
  margin-left: 10px;
}

.logo-container{
  display: flex;
  height: 56px;
  padding: 5px 0px;
  margin-left: 27px;
  margin-bottom: 47px
}

.logo-text{
  position: absolute;
  left: 200px;
  font-family: $font-family;
  color:  #909090;
  font-size: 21px;
  font-weight: 100;
}

.reload-button{
  position: absolute;
  right: 0px;
  width: 142px;
  height: 42px;
  border-radius: 22px 0px 0px 22px;
  color: WHITE;
  background-color: $primary-blue;
  text-align: center;
  border: none
}
.reload-button:focus{
  display: none;
}

