@import "../styles/font-faces";




.left-data{
  margin: 6px;
  padding: 2px;
}

.right-data{
  position: absolute;
  right: 21px;
  text-align: end;
  margin: 2px;
  padding: 2px;
}

.flight-number{
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  padding: 0px 7px;
  margin: 3px;
  color: $font-color;
}

.mission-name{
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  left: 98px;
  padding: 15px 2px;
  margin: 2px;
  color: $font-color;
}

.list-item{
  display: flex;
  border-radius: 9px;
  box-shadow: 0px 2px 3px 1px #C7C7C7;
  margin: 6px;
}

.launch-date{
  font-family: $font-family;
  color:  #909090;
  font-size: 11px;
  font-weight: 600;
  margin: 6px 1px 1px 1px;
}
.rocket-name{
  font-family: $font-family;
  font-weight: 400;
  font-weight: 900;
  margin: 6px 1px 1px 1px;
  color: $font-color;
}
 