$primary-blue: #215184;
$font-color: #545454;
$font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;
$box-color:  #C9C9C9;

.left-data{
  margin: 6px;
  padding: 2px;
}

.right-data{
  position: absolute;
  right: 21px;
  text-align: end;
  margin: 2px;
}

.flight-number{
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  padding: 0px 7px;
  margin: 3px;
  color: $font-color;
}

.mission-name{
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  position: absolute;
  left: 98px;
  padding: 15px 2px;
  margin: 2px;
  color: $font-color;
}

.list-item{
  display: flex;
  border-radius: 9px;
  box-shadow: 0px 2px 3px 1px #C7C7C7;
  margin: 6px;
}

.launch-date{
  font-family: $font-family;
  color:  #909090;
  font-size: 11px;
  font-weight: 600;
  margin: 6px 1px 1px 1px;
}
.rocket-name{
  font-family: $font-family;
  font-weight: 400;
  font-weight: 900;
  margin: 6px 1px 1px 1px;
  color: $font-color;
}
  @font-face {
    font-family: 'Brandon Grotesque';
    src: url('../assets/font/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('../assets/font/BrandonGrotesque-Bold.woff') format('woff'),
        url('../assets/font/BrandonGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }



@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Regular.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Regular.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-RegularItalic.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Black.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Black.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../assets/font/BrandonGrotesque-Medium.woff2') format('woff2'),
      url('../assets/font/BrandonGrotesque-Medium.woff') format('woff'),
      url('../assets/font/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

